*{
   padding: 0;
   margin: 0; 
}

.container{
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content_main{
   padding: 2em;
   max-width: 375px;
   
}

.image img{
    max-width: 375px;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.txt_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 370px;
    padding: 1.5em;
}

.txt_card h4{
    font-family: 'Montserrat';
    font-size: 0.7em;
    letter-spacing:0.5em;
    color: hsl(228, 12%, 48%);
}

.txt_card h1{
    font-family: 'Fraunces';
    font-size: 2.2em;
}

.txt_card p{
    max-width: 304px;
    font-size: 0.9em;
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
    font-family: 'Montserrat';
    margin-top: 0.5em;
}

.price{
    display: flex;
    align-items: center;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    margin-top: 1em;
}

.price h2{
    font-size: 2em;
    padding-right: 0.6em;
}

.price h3{
    font-size: 0.8em;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button{
    margin-top: 1em;
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 700;
    width: 310px;
    height: 60px;
    border-radius: 0.5em;
    border-color: hsla(158, 36%, 37%, 0.61);    
}

button span{
    margin-right: 0.3em;
}